{% extends "blog/base.html" %}

{% block content %}

    <h1>Blog HOME Page.</h1> 

    {% for post in posts %}

        <article class="content-section">
            <!-- Wrap the image and content in a div with class 'media' -->
            <div class="media"> <!-- Start of media -->
                <!-- Profile Image -->
                <div class="media-image">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="Author's Image">
                </div>

                <!-- Post Content -->
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">
                            {{ post.author }}
                        </a>
                        <small class="text-muted">
                            {{ post.date_posted|date:"F d, Y" }} | ({{ post.date_posted|date:"g:i a" }})
                        </small>
                    </div>
                    <h2>
                        <a class="article-title" href="#">{{ post.title }}</a>
                    </h2>
                    <p class="article-content">
                        {{ post.content }}
                    </p>
                </div>
            </div> <!-- End of media -->
        </article>

    {% endfor %}

{% endblock content %}
